<?xml version="1.0"?>
<assembly>
    <id>plugin</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <dependencySets>
        <dependencySet>
            <useStrictFiltering>true</useStrictFiltering>
            <outputDirectory>${file.separator}elasticsearch${file.separator}</outputDirectory>
            <useProjectArtifact>true</useProjectArtifact>
            <useTransitiveFiltering>true</useTransitiveFiltering>
        </dependencySet>
        <dependencySet>
            <useStrictFiltering>true</useStrictFiltering>
            <outputDirectory>${file.separator}elasticsearch${file.separator}</outputDirectory>
            <includes>
                <include>com.floragunn:search-guard-6</include>
                <include>com.floragunn:search-guard-ssl</include>
            </includes>
        </dependencySet>
    </dependencySets>
    <fileSets>
        <fileSet>
            <directory>${basedir}/src/main/assemblies/</directory>
            <outputDirectory>${file.separator}elasticsearch${file.separator}</outputDirectory>
            <filtered>false</filtered>
            <includes>
                <include>LICENSE</include>
            </includes>
        </fileSet>
        <fileSet>
            <directory>${project.basedir}</directory>
            <outputDirectory>${file.separator}elasticsearch${file.separator}</outputDirectory>
            <includes>
                <include>tools/**</include>
                <include>sgconfig/**</include>
                <include>defaultcerts/**</include>
            </includes>
            <fileMode>0755</fileMode>
        </fileSet>
        <fileSet>
            <outputDirectory>${file.separator}elasticsearch${file.separator}</outputDirectory>
            <includes>
                <include>plugin-descriptor.properties</include>
                <include>plugin-security.policy</include>
            </includes>
        </fileSet>
    </fileSets>
</assembly>

