name: CI

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main
      - opendistro-*

env:
  GRADLE_OPTS: -Dhttp.keepAlive=false -DCI=true

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        jdk: [8, 11, 14]

    steps:

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.jdk }}

    - name: Checkout security
      uses: actions/checkout@v2

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: java

    - name: Cache Maven packages
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/build.gradle') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Checkstyle
      run: ./gradlew clean checkstyleMain checkstyleTest

    - name: Package
      run: ./gradlew clean build -Dbuild.snapshot=false -x test

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1

    - name: Test
      run: OPENDISTRO_SECURITY_TEST_OPENSSL_OPT=true ./gradlew test

    - name: Coverage
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Upload Artifacts
      uses: actions/upload-artifact@v1
      with:
        name: artifacts
        path: build/distributions/
