name: CI

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main
      - opendistro-*

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:

    - name: Set up JDK 14
      uses: actions/setup-java@v1
      with:
        java-version: 14.0.x

    - name: Checkout security
      uses: actions/checkout@v2

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: java

    - name: Cache Maven packages
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Checkout OpenSearch
      uses: actions/checkout@v2
      with:
        repository: 'opensearch-project/OpenSearch'
        path: OpenSearch

    - name: Build OpenSearch
      working-directory: ./OpenSearch
      run: ./gradlew publishToMavenLocal

    - name: Checkstyle
      run: mvn -B checkstyle:checkstyle

    - name: Package
      run: mvn -B clean package -Padvanced -DskipTests

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1

    - name: Test
      run: OPENDISTRO_SECURITY_TEST_OPENSSL_OPT=true mvn -B test

    - name: Coverage
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Upload Artifacts
      uses: actions/upload-artifact@v1
      with:
        name: artifacts
        path: target/releases/
