name: Plugin Install

on: [push, pull_request, workflow_dispatch]

env:
  OPENSEARCH_VERSION: 3.3.2
  PLUGIN_NAME: opensearch-security

jobs:
  plugin-install:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        jdk: [21, 24]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Generate Strong Password
        id: generate-password
        uses: DarshitChanpura/secure-password-action@v1.0.0

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin # Temurin is a distribution of adoptium
          java-version: ${{ matrix.jdk }}

      - name: Checkout Branch
        uses: actions/checkout@v5

      - name: Assemble target plugin
        uses: gradle/gradle-build-action@v3
        with:
          cache-disabled: true
          arguments: assemble

      # Move and rename the plugin for installation
      - name: Move and rename the plugin for installation
        run: mv ./build/distributions/${{ env.PLUGIN_NAME }}-*.zip ${{ env.PLUGIN_NAME }}.zip
        shell: bash

      - name: Run Opensearch with A Single Plugin
        uses: derek-ho/start-opensearch@v8
        if: ${{ runner.os != 'Windows' }}
        with:
          opensearch-version: ${{ env.OPENSEARCH_VERSION }}
          plugins: "file:$(pwd)/${{ env.PLUGIN_NAME }}.zip"
          security-enabled: true
          admin-password: ${{ steps.generate-password.outputs.password }}
          jdk-version: 21

      - name: Run Opensearch with A Single Plugin
        uses: derek-ho/start-opensearch@v8
        if: ${{ runner.os == 'Windows' }}
        with:
          opensearch-version: ${{ env.OPENSEARCH_VERSION }}
          plugins: "file:///$((Get-Location).Path -replace '\\\\','/')/${{ env.PLUGIN_NAME }}.zip"
          security-enabled: true
          admin-password: ${{ steps.generate-password.outputs.password }}
          jdk-version: 21

      - name: Run sanity tests
        uses: gradle/gradle-build-action@v3
        with:
          cache-disabled: true
          arguments: integTestRemote -Dtests.rest.cluster=localhost:9200 -Dtests.cluster=localhost:9200 -Dtests.clustername="opensearch" -Dhttps=true -Duser=admin -Dpassword=${{ steps.generate-password.outputs.password }} -i
