name: Plugin Install

on: [push, pull_request, workflow_dispatch]

jobs:
  plugin-install:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        jdk: [11, 17]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.jdk }}

      - name: Checkout Branch
        uses: actions/checkout@v2

      - name: Assemble target plugin
        run: ./gradlew assemble

      - name: Run Opensearch with A Single Plugin
        uses: ./.github/actions/start-opensearch-with-one-plugin
        with:
          opensearch-version: 3.0.0
          plugin-name: opensearch-security
          plugin-start-script: install_demo_configuration
          docker-host-plugin-zip: security-plugin.zip

      - name: Run sanity tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: integTestRemote -Dtests.rest.cluster=localhost:9200 -Dtests.cluster=localhost:9200 -Dtests.clustername="opensearch" -Dhttps=true -Duser=admin -Dpassword=admin
