name: Plugin Install

on: [push, pull_request, workflow_dispatch]

env:
  OPENSEARCH_VERSION: 3.0.0
  PLUGIN_NAME: opensearch-security

jobs:
  plugin-install:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        jdk: [21]
    runs-on: ${{ matrix.os }}

    steps:
      - id: random-password
        uses: peternied/random-name@v1

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin # Temurin is a distribution of adoptium
          java-version: ${{ matrix.jdk }}

      - name: Checkout Branch
        uses: actions/checkout@v4

      - name: Assemble target plugin
        uses: gradle/gradle-build-action@v3
        with:
          cache-disabled: true
          arguments: :assemble

      # Move and rename the plugin for installation
      - name: Move and rename the plugin for installation
        run: mv ./build/distributions/${{ env.PLUGIN_NAME }}-*.zip ${{ env.PLUGIN_NAME }}.zip
        shell: bash

      - name: Run Opensearch with A Single Plugin
        uses: derek-ho/start-opensearch@v6
        with:
          opensearch-version: ${{ env.OPENSEARCH_VERSION }}
          plugins: "file:$(pwd)/${{ env.PLUGIN_NAME }}.zip"
          security-enabled: true
          admin-password: ${{ steps.random-password.outputs.generated_name }}
          jdk-version: 21

      - name: Run sanity tests
        uses: gradle/gradle-build-action@v3
        with:
          cache-disabled: true
          arguments: integTestRemote -Dtests.rest.cluster=localhost:9200 -Dtests.cluster=localhost:9200 -Dtests.clustername="opensearch" -Dhttps=true -Duser=admin -Dpassword=${{ steps.random-password.outputs.generated_name }} -i
